/anaconda/notebooks/Tensorflow/signs
/bitnami-docker-spark/spark
/bitnami-docker-spark/notebooks
/bitnami-docker-spark/data
/anaconda/notebooks/AIOps/span-parquet
/anaconda/notebooks/Sensors/2020_sensor_data
/anaconda/notebooks/Sensors/parquet
/anaconda/notebooks/Sensors/*.pdf
/anaconda/notebooks/AIOps/parquet
.venv
.ipynb_checkpoints
.Trash-0
__pycache__
/anaconda/notebooks/Titanic/*.csv
/anaconda/notebooks/NLP/big-data